nav{

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 100px;

}


nav span{

    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
   
}

nav ul{

    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

nav li{

    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 20px;

}

nav a{

    text-decoration: none;

}


nav a:visited{

    color: black;

}

.grid{

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5rem;
    max-width: 100%;

}


.primeiroLobo__texto{

   font-size: 3.2rem;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 800;

}

cite{

    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200 !important;
  

}

.primeiroLobo{

    display: flex;
    justify-content: center;

}

.primeiroLobo img{

    width: 22vw;

}

.textoEsq{

    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.textoEsq__frase{

    font-size: 8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #6f737e;
    text-transform: uppercase;
    

}