nav{

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 100px;

}


nav span{

    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
   
}

nav ul{

    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

nav li{

    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 20px;

}

nav a{

    text-decoration: none;

}


nav a:visited{

    color: black;

}

.grid{

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5rem;
    max-width: 100%;

}


.primeiroLobo__texto{

   font-size: 3.2rem;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 800;

}

cite{

    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200 !important;
  

}

.primeiroLobo{

    display: flex;
    justify-content: center;

}

.primeiroLobo img{

    width: 22vw;

}

.textoEsq{

    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.textoEsq__frase{

    font-size: 7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #6f737e;
    text-transform: uppercase;
    

}

.textoDir{

    display: flex;
    flex-direction: row;
    justify-content: left;

}

.textoDir__topo{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;

}

.box1{

   display: flex;
   flex-direction: column;
   justify-content: center;
   grid-column: 2;
   background-color: #ccd2d3;
   border: 2px solid #ccd2d3;
   padding: 20px;
   align-self: flex-start;
   max-width: 100%;
   transform: translateY(-15vw);

}

.box1 p{

     font-size: 1.3rem;
     font-family: Arial, Helvetica, sans-serif;

}

.box1__left{

    display: grid;
    align-self: flex-end;
    align-items: start;
    gap: 10px;
    text-align: center;

}

.box1__texto{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    grid-row: 1;
}

.destaque{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    
}

.box1__left span{

    font-family: Arial, Helvetica, sans-serif;
    
    
    
}



.box1__tags {
  display: grid;
  flex-direction: wrap;
  gap: 8px;

}


.box1__tags .ux {
  grid-column: 2;
  
}


.box1__tags .ui {
  grid-column: 3;
}

.tag{
  padding: 6px 12px;
  background-color: #f1f1f1;
  border-radius: 4px;
  font-size: 0.9rem;
}






