nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;

}


nav span{

    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
   
}

nav ul{

    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

nav li{

    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 20px;

}

nav a{

    text-decoration: none;

}


nav a:visited{

    color: black;

}

